nameOverride: ""
fullnameOverride: ""

api:
  replicaCount: 2
  image:
    repository: 645446651173.dkr.ecr.us-east-1.amazonaws.com/startracker-dev
    tag: latest
    pullPolicy: IfNotPresent
  containerPort: 8080
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  secret:
    existingSecretName: ""
    key: api-key
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

ui:
  replicaCount: 2
  image:
    repository: 645446651173.dkr.ecr.us-east-1.amazonaws.com/startracker-ui
    tag: latest
    pullPolicy: IfNotPresent
  containerPort: 80
  service:
    type: ClusterIP
    port: 80
    targetPort: 80
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  host: startracker.example.com

hpa:
  api:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 70

externalSecrets:
  enabled: false
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  remoteRef:
    key: /startracker/dev/api
    property: apiKey
